<!DOCTYPE html>
<html>
  <head>
    <title>Fortune Teller</title>
  </head>

  <body>
    <h1>Welcome to the Fortune Teller!</h1>
    <p>Enter Your Name, Please.</p>
    <form method = POST>
      <input type="text" name="user">
      <br>
      <input type="submit" value="GET YOUR FORTUNE!">
      </form>
  </body>
</html>