<!DOCTYPE html>
<html>
  <head>
    <title>Your Fortune</title>
  </head>
  
  <body>
    <h1>Receive your fortune</h1>
    <h3>Hello, <%=@the_user%>, your fortune is, <%=@the_fortune%> </h3>
    <img src= "https://media.giphy.com/media/l2JJu8U8SoHhQEnoQ/giphy.gif">
    </body>
</html>